@mixin flex-width($width, $min-width: $width, $max-width: $width) {
  min-width: $min-width;
  width: $width;
  max-width: $max-width;
}

@mixin flex-height($height, $min-height: $height, $max-height: $height) {
  min-height: $min-height;
  height: $height;
  max-height: $max-height;
}
