.search-field {
  position: relative;

  & > .label {
    position: absolute;
    top: 50%;
    left: 8px;
    display: block;
    transform: translateY(-50%);
    z-index: 1;

    & > .icon {
      display: block;
      width: 22px;
      height: 22px;
    }
  }

  & > .field {
    position: relative;
    appearance: none;
    width: 100%;
    padding: 8px 12px 8px 38px;
    border: 0;
    border-radius: 22px;
    font: inherit;
    font-size: 1em;
    font-weight: 400;
    color: #3c3d41;
    background-color: #fdfdfd;
    box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15),
      0 1px 3px 0 rgba(93, 100, 148, 0.2);
    outline: none;
  }
}
